[submodule "HighLevelProgramming"]
	path = HighLevelProgramming
	url = C:\\Users\\volo1\\Documents\\Progetti\\HighLevelProgramming
[submodule "Ciao"]
	path = Ciao
	url = C:\\Users\\volo1\\Documents\\Progetti\\HighLevelProgramming
